<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmls:th="http://www.thymeleaf.org" >
    <head lang="en">
        <title>Customers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" 
        th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"  ></script>

        <link href="../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

    </head>
    <body>
        <div class="container">
            <div th:if="${not #lists.isEmpty(customers)}">
                <h2>Customer List</h2>
                <table class="table table-strped">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>phoneNumber</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="customer:${customers}">
                        <td th:text="${customer.id}"></td>
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.lastName}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.phoneNumber}"></td>
                        <td th:text="${customer.addressLineOne}"></td>
                        <td th:text="${customer.addressLineTwo}"></td>
                        <td th:text="${customer.city}"></td>
                        <td th:text="${customer.state}"></td>
                        <td th:text="${customer.zipCode}"></td>
                        <td><a th:href="${'/customer/'+customer.id}">View</a></td>
                        <td><a th:href="${'/customer/edit/'+customer.id}">Edit</a></td>
                        <td><a th:href="${'/customer/delete/'+customer.id}">Delete</a></td>
                    </tr>
                </table>
                
            </div>
        </div>
    </body>
</html>
