<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmls:th="http://www.thymeleaf.org" >
    <head lang="en">
        <title>Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" 
        th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"  ></script>

        <link href="../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

    </head>
    <body>
        <div class="container" >
            <div th:if="${not #lists.isEmpty(products)}">
                <h2>Product List</h2>
                <table class="table table-strped">
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>price</th>
                        <th>Image URL</th>
                        <th>View</th>
                    </tr>
                    <tr th:each="product:${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.imageUrl}"></td>
                        <td ><a th:href="${'/product/'+product.id}">View</a></td>
                    </tr>
                </table>
                
                <div class="row">
                    <a href="/product/new">New Product</a>
                </div>
                
            </div>
        </div>
    </body>
    
</html>
